.App {
  font-family: Arial, sans-serif;
  padding: 2rem;
  text-align: center;
  background-color: #585858;
}

input {
  padding: 0.5rem;
  width: 200px;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
}

.weather-info {
  margin-top: 1rem;
}

.error {
  color: red;
}
