.App {
  font-family: Arial, sans-serif;
  padding: 2rem;
  text-align: center;
  background-color: #3d3d3d;
  height: 93.2vh;
}
.container {
  display:inline-block;
  background-color: rgb(63, 119, 136);
  background-image: linear-gradient(320deg, #222222 2%, #888888 76%);
  position: relative;
  top: 30%;
  padding-bottom: 100px;
  padding-top:10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 8px;
  box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.8);
}
input {
  padding: 0.5rem;
  width: 200px;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
}

.weather-info {
  margin-top: 1rem;
}

.error {
  color: red;
}
